# Banco de dados
backend/banco.db
backend/banco.db-*

# Variáveis de ambiente
backend/.env
frontend/.env

# Python
**/__pycache__/
*.py[cod]
backend/venv/

# Node
frontend/node_modules/
frontend/dist/